*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Helvetica, sans-serif;
    list-style-type: none;
}

/* header */
.header-section{
    background-color: #131921; /* header bgcolor */
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    color: white;
}
.header-section img{
    width: 120px;
    height: auto;
}
.domain-in{
    margin: -10px 20px 0 -10px;
}
.header-section .fa-solid{
    width: 16px;
}
.delivery-location{
    width: 180px;
}
.head-line-1{
    font-size: 12px;
}
.head-line-2{
    font-weight: bolder;
}
.form-box{
    display: flex;
}
.drop-menu select{
    height: 36px;
    width: 48px;
    text-align: center;
    background-color: rgb(248, 244, 244);
    color: rgb(99, 99, 99);
    border-radius: 6px 0 0 6px;
}
.drop-menu select:focus{
    color: black;
    cursor: pointer;
    text-align: left;
}
.search-bar input{
    padding: 0 4px;
    width: 640px;
    height: 32px;
}
.search-bar button{
    margin: 0 0 0 -4px;
    height: 36px;
    width: 48px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}

/* Language of the website inside the header  */
/* div class="language" */

.lang-dropdown{
    margin: 0 0 0 12px;
    position: relative;
    display: inline-block;
    width: 100px;
    cursor: pointer;
    border-radius: 2px;
}
.lang-dropdown:hover{
    width: 240px;
    z-index: 1;
}
                      /* Darkening the body when hovering over the radio buttons */
.lang-dropdown img{
    width: 24px;
    height: auto;
    border-radius: 2px;
}
.lang-dropdown:hover{
    background-color: white;
    color: black;
}
.lang-dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
}
.lang-dropdown-menu label{
    margin: 8px;
    display: block;
}
.lang-dropdown:hover .lang-dropdown-menu{
    display: block;
    background-color: #fefefe;
    color: black;
    width: 240px
}
.lang-dropdown label:hover{
    cursor: pointer;
    text-decoration: underline;
}
























