*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: #E3E6E6;
}

/* text decoration for all anchor tag inside p tag  */
p a{
    color: #4F7185;
}
p a:hover{
    text-decoration: underline;
    color: #fca534;
}

/* main header  */
.main-header{
    background-color: #131921;
    /* width: 100vw; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    color: white;
}

/* border for all the head-box  */
.border-headbox{
    border: 1px solid #131921;
    display: flex;
    align-items: center;
}
.border-headbox:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/* head-box1  */
.head-box1{
    width: fit-content;
    height: 50px;
}
.head-box1 img{
    width: 110px;
    height: 50px;
}
/* head-box2  */
.head-box2{
    padding: 0 5px;
    width: 85px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.add-first{
    margin: 0 0 -16px 16px;
    color: #ccc;
    font-size: 0.8rem;
}
.add-second{
    font-weight: 700;
    font-size: 0.9rem;
}
/* head-box3  */
.head-box3{
    width: fit-content;
    height: 50px;
    border: none;
}
.head-box3:hover{
    border: none;
}
.search-box{    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.select-categories select{
    width: 52px;
    height: 40px;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px;
}
.select-categories select:hover{
    background-color: #d9d8d8;
    cursor: pointer;
}
.search-bar input{
    padding: 8px;
    width: 680px;
    height: 40px;
    font-size: 0.95rem;
    font-weight: 400;
}
.search-icon{
    width: 45px;
    height: 40px;
    color: #232F3E;
    background-color: #febd68;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 0 4px 4px 0;
}
.search-icon:hover{
    background-color: #fca534;
    cursor: pointer;
}
.search-design select, .search-design input, .search-design i{
    border: none;
}

/* head-box4  */
.head-box4{
    width: 50px;
    height: 50px;
}
.head-box4 img{
    padding: 0 2.5px 0 5px;
    width: 24px;
    height: 16px;
}
.head-box4 p{
    padding: 0 5px 0 2.5px;
    font-weight: 700;
    font-size: .90rem;
}

/* head-box5  */
.head-box5{
    padding: 0 5px;
    width: 140px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.sign-in{
    margin: 0 0 -16px 0;
    font-size: 0.8rem;
}
.accounts{
    font-weight: 700;
    font-size: 0.9rem;
}

/* head-box6  */
.head-box6{
    padding: 0 5px;
    width: 90px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.returns{
    margin: 0 0 -16px 0;
    font-size: 0.8rem;
}
.orders{
    font-weight: 700;
    font-size: 0.9rem;
}

/* head-box7 */
.head-box7{
    width: fit-content;
    height: 50px;
}
.head-box7 i{
    padding: 0 2.5px 0 5px;
    font-size: 2rem;
}
.head-box7 p{
    padding: 0 5px 0 2.5px;
    font-size: 0.9rem;
    font-weight: 700;
}

/* panel border  */
.border-panel{
    border: 1px solid #232F3E;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.border-panel:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/* panel */
.panel{
    background-color: #232F3E;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 0.9rem;
    color: white;
}
.all-menu{
    padding: 10px 12px;
    display: flex;
    align-items: center;
}
.all-menu p{
    padding: 0 0 0 6px;
    font-weight: 700;
}
.panel-list{
    display: flex;
    align-items: center;
}
.panel-list p{
    padding: 10px 12px;
}

/* main image  */
.main-img{
    background-image: url("imgs/hero_image.jpg");
    background-size: cover; 
    width: auto;
    height: 400px;
}

.main-img p{
    margin: auto;
    padding: 10px 14px;
    position: relative;
    top: 240px;
    background-color: #F5F6F6;
    font-size: 0.9rem;
    width: 95%;
    text-align: center;
}

/* shopping panel  */
.shopping-panel{
    margin: -100px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.shop-container{
    margin: 0 0 32px 0;
    width: 320px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(129, 129, 129, 0.5);
}
.shop-box{
    margin: auto;
    width: 85%;
}
.shop-box h2{
    padding: 12px 0 6px 0;
}
.shop-box img{
    padding: 6px 0 0 0;
    /* background-size: cover; */
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.shop-box p{
    padding: 12px 0 24px 0;
}

/* sign in panel  */
.signin-panel{
    margin: 0 0 32px 0;
    display: flex;
    align-items: center;
    background-color: white;
    height: 180px;
}
.signin-box{
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    border: 1px solid rgb(210, 210, 210);
}
.signin-options{
    text-align: center;
}
.signin-options p{
    margin: 3px;
    font-size: 0.8rem;
}
.signin-options button{
    margin: 3px;
    background: linear-gradient(to bottom, #fcc379, #fca028);
    width: 220px;
    height: 1.8rem;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* back to top  */
#top{
    padding: 1rem;
    background-color: #37475A;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}
#top:hover{
    background-color: #485769;
}


/* footer  */

/* footer1 */
.footer1{
    background-color: #232F3E;
    height: 360px;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: center;
}
.footer-column{
    margin: 64px 12px;
    width: 220px;
}
.footer1 a{
    margin: 10px 0;
    display: block;
    color: rgb(211, 211, 211);
    font-size: 0.85rem;
    font-weight: 600;
}
.footer1 a:hover{
    text-decoration: underline;
}

/* footer2 */
.footer2{
    background-color: #232F3E;
    border-top: 1px solid rgb(210, 210, 210);
}
.footer2-center-align{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 120px;
    color: rgb(210, 210, 210);
    font-size: 0.9rem;
}
.footer2-div-border{
    padding: 6px 18px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    cursor: pointer;
}
.amazon-logo img{
    height: 50px;
}
.ind-flag{
    width: 24px;
    height: 16px;
}
.language, .currency, .country-select{
    display: flex;
    align-items: center;
}
.footer2 p{
    margin: auto auto auto 4px;
}



















